{% extends 'base.html' %}
{% block title %} Detalle Carrera {% endblock %}
{% block content %}
  <h1>{{ title }}</h1>
  <div>
    <form method="POST">
      {% csrf_token %}
      <strong>{{ carrera.description }}</strong>
      {% if carrera.isactive %}
        <p>Activa</p>
      {% else %}
        <p>Desactivada</p>
      {% endif %}
      <button type="submit" class="btn btn-danger">¿Desea Desactivar la Carrera?</button>
      <a href="{% url 'carreras' %}">Cancelar</a>
    </form>
  </div>
{% endblock content %} 


