{% extends 'base.html' %} 
{% load static %} 
{% block title %} Notas {% endblock %}
{% block content %} 
<style>
    .text-success {
        border-color: #ffffff;
        color: #3498db;
    }
  
    /* Estilos para los botones de búsqueda y registro */
    .btn-outline-success {
        color: #3498db; /* Texto azul para los botones de búsqueda y registro */
        border-color: #3498db; /* Borde azul para los botones de búsqueda y registro */
    }
  
    .btn-outline-success:hover {
        background-color: #3498db; /* Fondo azul al pasar el ratón sobre los botones de búsqueda y registro */
        color: #ffffff; /* Texto blanco al pasar el ratón sobre los botones de búsqueda y registro */
    }
  
    /* Estilos específicos para el botón de buscar */
    .btn-outline-success[data-bs-toggle="tooltip"] {
        background-color: #ffffff; /* Fondo blanco para el botón de buscar (sin borde) */
        color: #3498db; /* Texto azul para el botón de buscar (sin borde) */
    }
  
    .btn-outline-success[data-bs-toggle="tooltip"]:hover {
        background-color: #3498db; /* Fondo azul al pasar el ratón sobre el botón de buscar (sin borde) */
        color: #ffffff; /* Texto blanco al pasar el ratón sobre el botón de buscar (sin borde) */
    } 
  
    #notaDetailsModal .btn-outline-success {
        background-color: #3498db !important;
        border-color: #3498db !important;
        color: #ffffff !important;
    }
      
    #notaDetailsModal .btn-outline-success:hover {
        background-color: #ffffff !important;
        color: #3498db !important;
    }
</style> 
<div class="container">
    <div class="py-2 mt-2 border border-1 shadow rounded text-center bg-white">
        <h1 class="fw-bold text-success">{{title}}</h1>
    </div> 
    {% if error %}
    <div class="alert alert-danger alert-dismissible fade show text-white" role="alert">
        <strong> ¡ {{error}}</strong>, consulte con su administrador...!
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %} 
    <div class="mt-3">
        <h1 class="text-center fw-bold"></h1> 
        <div class="mt-2 d-flex justify-content-between flex-wrap">
            <form action="" style="max-width: 450px;">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Buscar estudiante..." name="q" value="{{ request.GET.q }}">
                    <button class="btn btn-outline-success" data-bs-toggle="tooltip" data-bs-title="Escriba parte de apellido de estudiante y click en buscar">
                        Buscar
                    </button>
                </div>
            </form> 

            <div class="m-2">
                <a href="{% url 'create_nota' %}" class="btn btn-outline-success " data-bs-toggle="tooltip" data-bs-title="Ingresar nuevas notas">
                    Registrar Notas
                </a>
            </div>
        </div> 
    </div> 

    <div class="table-responsive">
        <table class="table table-hover  table-fluid">
            <thead class="text-center text-light table-success"> 
                <th>Facultad</th> 
                <th>Carrera</th> 
                <th>Asignatura</th> 
                <th>Profesor</th> 
                <th>Estudiante</th> 
                <th>Semestre</th> 
                <th>N1</th> 
                <th>N2</th> 
                <th>Supletorio</th> 
                <th>Promedio</th> 
                <th>Estado</th>
                <th>Acción</th>
            </thead> 

            <tbody class="table-primary">
                {% for nota in notas %} 
                <tr>
                    <td>{{nota.facultad}}</td> 
                    <td>{{nota.carrera}}</td> 
                    <td>{{nota.asignatura}}</td> 
                    <td>{{nota.profesor}}</td> 
                    <td>{{nota.student}}</td> 
                    <td>{{nota.semestre}}</td>
                    <td>{{nota.nota1}}</td>
                    <td>{{nota.nota2}}</td> 
                    <td>{{nota.notarecuperacion}}</td>
                    <td>{{nota.promedio}}</td>
                    <td>
                        {% if nota.estado %} 
                         Aprobado
                        {% else %} 
                         Reprobado 
                        {% endif %} 
                    </td> 

                    <td>
                        <a class="show-details" href="#" data-bs-toggle="tooltip" data-bs-title="Reprobar Estudiante"
                        data-notaid="{{nota.id}}|{{nota.facultad}}|{{nota.carrera}}|{{nota.asignatura}}|{{nota.profesor}}|{{nota.student}}
                        |{{nota.semestre}}|{{nota.nota1}}|{{nota.nota2}}|{{nota.notarecuperacion}}|{{nota.promedio}}|{{nota.estado}}"
                        data-bs-toggle="modal" data-bs-target="#notaDetailsModal">
                            👨‍🎓
                        </a> 
                        <a href="{% url 'update_nota' nota.id %}" data-bs-toggle="tooltip" data-bs-title="Editar notas">📝</a> 
                        <a href="{% url 'delete_nota' nota.id %}" data-bs-toggle="tooltip" data-bs-title="Eliminar notas">❌</a>
                    </td> 
                </tr> 
                {% empty %} 
                <tr>
                    <td colspan="5" class="text-danger fw-bold h3 text-center">
                        <div class="py-2 mt-2 border border-1 shadow rounded text-center">
                          ¡No se encontraron datos que cumplan los criterios de búsqueda...!
                        </div>
                    </td>
                </tr> 
                {% endfor %}
            </tbody> 
        </table>
    </div> 

    {% if paginator.num_pages %}
    <ul class="pagination"> 
        {% for page_num in paginator.page_range %}
        <li class="page-item text-danger fw-bold {% if page_num == pagina %}active{% endif %}">
            <a class="page-link text-success fw-bold" href="{% url 'notas' %}?page={{ page_num }}">{{ page_num }}</a>
        </li>
        {% endfor %} 
        <li class="page-item">
            <a class="page-link text-danger fw-bold" href="{% url 'notas' %}?page={{ paginator.num_pages }}">&raquo;</a>
        </li>
    </ul>
    {% endif %}
</div> 

<div class="modal fade" id="notaDetailsModal" tabindex="-1" role="dialog" aria-labelledby="notaDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header mt-1 border border-2 shadow rounded bg-white">

                <h5 class="modal-title" id="notaDetailsModalLabel">{{title}}</h5>
                {% if error %}
                    <div class="alert alert-danger alert-dismissible fade show text-white" role="alert">
                        <strong> ¡ {{error}}</strong>, Verifique los datos...!
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                 {% endif %} 
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>

            <div class="modal-body">
                <p id="notaDetailsContent">
        
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div> 

{% block script %}
<script>
    document.addEventListener('click', function(event) {
        if (event.target.classList.contains('show-details')) {
            event.preventDefault();
            let nota = (event.target.getAttribute('data-notaid'));
            nota = nota.split('|');
            let student = nota[5];
            let id = parseInt(nota[0]);

            document.getElementById('notaDetailsContent').innerHTML = `
                <div class="container">
                    <form action="/notas/${id}/" method="POST" class="m-4">
                        {% csrf_token %}
                        <div class="row text-center align-content-center flex-column g-2">
                            <button class="btn btn-outline-success mx-2" type="submit">¿Desea Aprobar al Estudiante?</button>
                            <h2>${student}</h2>
                        </div>
                    </form>
                </div>
            `;

            new bootstrap.Modal(document.getElementById('notaDetailsModal')).show();
        }
    });
</script>
{% endblock script %}
{% endblock content %} 







